@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,400&display=swap');

:root {
  --gap: 5px;
  --nav-color: #26547c;
  --div1-color: #82b1ff;
  --div2-color: #88c6be;
  --div3-color: #b4ccb9;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

label {
  padding: 10px;
  padding-left: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
}

input:not([type='checkbox']) {
  width: 150px;
  padding: 5px 10px;
  border-radius: 10px;
  outline: 0;
  border: 0;
  font-weight: 800;
  transition: box-shadow 0.15s ease-in;
}
input:not([type='checkbox']):focus {
  box-shadow: inset 0px 0px 0px 1px #333;
  outline: 1px solid black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  font-family: Roboto;

  margin: 0;
  padding: var(--gap);
  width: auto;
  height: auto;
  overflow-y: hidden;

  background-color: #f4efea;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 10px 20px;

  color: #e0e0e0;
  background: var(--nav-color);
  border: 2px solid black;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap);
  color: #fff;
}

main > div {
  display: flex;
  flex-direction: column;

  gap: 5px;
  padding: 15px;
  flex: 1 1 250px;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 87px);

  border: 2px solid black;
  box-shadow: 1px 1px 5px #000;
}

div#boletos {
  background: var(--div1-color);
}
div#documentos {
  background: var(--div2-color);
}
div#servicos {
  background: var(--div3-color);
}

div.links {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  /* height: 100%; */
  overflow-y: auto;

  gap: 1px;
}

.links > a {
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  font-weight: 800;
  min-width: 100px;
  letter-spacing: 0px;
  white-space: nowrap;

  flex: 1 1 auto;
  /* line-height: 50px; */
  background: #ffd3ef;
  border-radius: 0px;
  transition: all 0.15s ease-out;
  /* box-shadow: inset -3px -3px #000, inset 2px 2px 20px #fff; */
  padding: 12px 10px;
}
.links > a:hover,
.links > a:focus {
  box-shadow: inset 0px 0px 0px 2px #000;
}
/* .links > a:active {
  box-shadow: inset -3px -3px #000, inset 2px 2px 20px #fff;
  transition: all 0s;
} */

#windowInfos {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0009;
  display: none;
}

#infos {
  border-radius: 15px;
  position: fixed;
  left: 50%;
  top: 15%;
  width: 300px;
  height: auto;
  background: #f4efea;
  padding: 20px 0px 15px;
  transform: translateX(-50%);
}

#infos h2 {
  text-align: center;
  font-size: 1.1rem;
  text-transform: capitalize;
}

#infos ol,
#infos ul {
  margin: 15px 0px;
}

#infos h3 {
  font-size: 1rem;
  margin-bottom: 7px;
}

#infos li {
  font-size: 0.9rem;
  color: #f00;
}

#infos a {
  border-radius: 15px;
  display: block;
  width: 80%;
  line-height: 2rem;
  color: #000;
  margin: 0 auto;
  background: #da0;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 770px) {
  body {
    overflow-y: auto;
  }
  main > div {
    height: fit-content;
    overflow-y: unset;
  }
}
